@use "../tools/tools" as *;

// ** RULES **//

@layer basic {
	:root {
		// *** COLORs VARIABLE *** //
		--color-black: hsl(0, 0%, 0%);
		--color-white: hsl(0, 0%, 100%);
		// --color-glass: hsla(0, 0%, 100%, 0.15);
		--shadow: hsla(0, 0%, 0%, 0.75);
		--color-primary: #000105;
		--color-secondary: currentcolor;
		--color-tertiary: currentcolor;

		// *** VALUES VARIABLE *** //

		--radius: 4px;
		--300px: 300px;

		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		font-size: 16px;

		color: var(--color-white);

		background-color: var(--color-primary);
	}
}
